// Padding
$padding-large: 1.5rem;
$padding-normal: 1rem;
$padding-small: 0.5rem;

// Buttons
$button-border-radius: 100px;
$button-border-radius: 100px;

// COLORS
$c-color-gray: #CAD3DB;
$c-color-yellow: rgb(250, 174, 29);
$gray-3: rgb(98, 98, 98);

$windlight: #67B7E3;
$winddark: #273f73;
$pvlight: #F8D637;
$pvdark: #c19800;

$epp-color-pv-low: #F8D637;
$epp-color-pv-medium: #c19800;
$epp-color-pv-high: #5F4F03;

$epp-color-blue: #2348C3;
$epp-bg-color-blue: #F4F6FC;

$epp-bg-color-electricity: $green-300;
$epp-color-electricity: $green-800;
$epp-bg-color-heat: $red-300;
$epp-color-heat: $red-800;
$epp-bg-color-mobility: $indigo-100;
$epp-color-mobility: $indigo-800;
$epp-bg-color-h2: $orange-200;
$epp-color-h2: $orange-800;
$epp-bg-color-wind: $cyan-300;
$epp-color-wind: $cyan-800;
$epp-bg-color-pv: $yellow-300;
$epp-color-pv: $yellow-800;
$epp-bg-color-co2: $gray-300;
$epp-color-co2: $gray-800;

// TYPOGRAPHY
$c-letter-spacing: 0.03rem;
$font-size-small: .875rem; // 14px
$font-size-xsmall: .8125rem; // 13px
$font-size-xxsmall: .75rem; // 12px

$letter-spacing-small: 0.01rem;
$letter-spacing-normal: 0.03rem;
$letter-spacing-large: 0.06rem;

// LEFT PANEL
$panel-width-sm: 22rem;
$panel-width: 26rem;
$panel-side-padding: 1.5rem;
$panel-results-nav-button-padding: 0.5rem;

// TOP-NAV
$top-nav-height: 3.375rem;

// WIZARD
$wizard-height: 3.75rem;

// STEPS
$steps-height: 3.75rem;
$steps-numbers-size: 1.5rem;

// FOOTER
$footer-height: 1.75rem;

// MAP
$map-height: calc(100vh - #{$top-nav-height} - #{$wizard-height} - #{$footer-height});
$map-padding-x-small: 2rem;
$map-layers-btn-size: 3rem;
$map-items-padding: 1rem;
$map-layers-box-legend-color-size: 0.875rem;
$map-layers-box-height: 62vh;
$map-layers-box-width: 18rem;
$map-layers-box-z-index: 200;
$map-legend-box-height: 8.5rem;
$map-legend-box-padding-bottom: 2rem;

// Map controls
$map-control-position: absolute;
$map-control-img-size: 3rem;
$map-control-text-height: 1rem;
$map-control-total-height: calc((#{$padding-small} * 2) + #{$map-control-img-size} + #{$map-control-text-height});
$map-control-position-top: $map-items-padding;
$map-control-position-right: 1rem;
$map-control-position-left: 1rem;
$map-control-z-index: 9;
$map-control-bg-color: rgba(255, 255, 255, 1);

// POPUP
$popup-width: 28rem;

// ICONS
$info-icon-size: 1rem;
$info-icon-margin-left: 0.25rem;
$icon-margin-right: 0.25rem;

// ANIMATIONS
$animation-transition: transform 0.3s ease;
$animation-transform: translateX(4px);
