{% load i18n %}
{% load static %}
{% load partials %}

{% partialdef wind_key_results %}
  <div class="sidepanel__key-numbers">
    <div class="sidepanel__key-number">
      <div class="sidepanel__key-number-value sidepanel__key-number-value--wind">
        <span>
          {{ wind_key_result_area }} ha
        </span>
      </div>
      <div class="sidepanel__key-number-description">
        <span>
          {%  trans "werden genutzt" %}
        </span>
      </div>
    </div>
    <div class="sidepanel__key-number">
      <div class="sidepanel__key-number-value sidepanel__key-number-value--wind">
        <span>
          {{ wind_key_result_turbines }}
        </span>
      </div>
      <div class="sidepanel__key-number-description">
        {%  trans "Anlagen werden errichtet" %}
      </div>
    </div>
    <div class="sidepanel__key-number">
      <div class="sidepanel__key-number-value sidepanel__key-number-value--wind">
        <span>
          {{ wind_key_result_energy }}
        </span>
      </div>
      <div class="sidepanel__key-number-description">
        <span>
          {%  trans "können gewonnen werden" %}
        </span>
      </div>
    </div>
  </div>
{% endpartialdef %}

{% partialdef pv_key_results %}
  <div class="sidepanel__key-numbers">
    <div class="sidepanel__key-number">
      <div class="sidepanel__key-number-value sidepanel__key-number-value--wind">
        <span>
          ... ha
        </span>
      </div>
      <div class="sidepanel__key-number-description">
        <span>
          {%  trans "werden genutzt" %}
        </span>
      </div>
    </div>
    <div class="sidepanel__key-number">
      <div class="sidepanel__key-number-value sidepanel__key-number-value--wind">
        <span>
          ... TWh
        </span>
      </div>
      <div class="sidepanel__key-number-description">
        <span>
          {%  trans "können gewonnen werden" %}
        </span>
      </div>
    </div>
  </div>
{% endpartialdef %}


<h2 class="panel__title title">{%  trans "Generation" %}</h2>

<div id="js-power-mix" class="power-mix"></div>

{% include "widgets/slider.html" with field=form.s_w_1 %}
<div class="sidepanel">
  <div class="sidepanel__heading">
    <div class="sidepanel__title">
      <div class="sidepanel__title-icon sidepanel__title-icon--wind">
        <svg width="16" height="16" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.936" xmlns="http://www.w3.org/2000/svg">
          <path d="m8.4667 0.025321v4.2762c-0.89922 0.23858-1.5663 1.0686-1.5663 2.0423 0 0.1682 0.019787 0.33204 0.057361 0.48938l-3.3874 1.956 0.52917 0.91571 3.3548-1.9358c0.26835 0.29432 0.61807 0.51241 1.0123 0.61702v7.4889h-6.35v1.0583h6.35v5.17e-4h1.0589v-5.17e-4h6.3495v-1.0583h-6.3495v-7.4889c0.41594-0.11036 0.7822-0.34745 1.0557-0.66663l3.4422 1.9854 0.52917-0.91571-3.5037-2.0226c3.4e-5 -1.65e-4 -3.4e-5 -3.517e-4 0-5.168e-4 0.027938-0.13666 0.042891-0.27777 0.042891-0.4222 0-0.97361-0.66709-1.8037-1.5663-2.0423v-4.2762h-1.0589zm0.52968 5.2658c0.5765 2e-7 1.0366 0.46232 1.0366 1.0526s-0.46013 1.0526-1.0366 1.0526c-0.5765 0-1.0371-0.46232-1.0371-1.0526-1e-7 -0.59033 0.46065-1.0526 1.0371-1.0526z"/>
         </svg>
      </div>
      <div class="sidepanel__title-text">
        {%  trans "Details" %}
      </div>
    </div>
    {% include "widgets/sidepanel_close_btn.html" %}
  </div>
  <p class="sidepanel__indication">
    {%  trans "Nutzung von Windpotenzialgebieten:" %}
  </p>
  <div class="sidepanel__img js-wind-svg-container">
    <svg id="svgCommonWind" width="223" height="64" viewBox="0 0 223 64" fill="none" xmlns="http://www.w3.org/2000/svg" style="display: block;">
      <rect width="223" height="64" fill="white"/>
      <line x1="18.9505" y1="36.5025" x2="199.951" y2="18.5025" stroke="#708696"/>
      <line x1="20" y1="46.5" x2="200" y2="46.5" stroke="#E5E5E5"/>
      <circle id="circlePast" cx="20.5" cy="35.5" r="5.5" fill="#708696"/>
      <circle id="circlePresent" cx="110.5" cy="27.5" r="5.5" fill="#708696" style="display: none;"/>
      <circle id="circleFuture" cx="200.5" cy="18.5" r="5.5" fill="#708696" style="display: none;"/>
      <circle cx="200.5" cy="18.5" r="2.5" fill="#708696"/>
      <circle cx="110.5" cy="27.5" r="2.5" fill="#708696"/>
      <circle cx="20.5" cy="36.5" r="2.5" fill="#708696"/>
      <line x1="20.5" y1="47" x2="20.5" y2="36" stroke="#708696" stroke-dasharray="2 2"/>
      <line x1="110.5" y1="47" x2="110.5" y2="28" stroke="#708696" stroke-dasharray="2 2"/>
      <line x1="200.5" y1="47" x2="200.5" y2="18" stroke="#708696" stroke-dasharray="2 2"/>
    </svg>
  </div>
  <div class="sidepanel__tabs">
    <ul class="nav nav-tabs sidepanel-tabs" id="windTab" role="tablist">
      <li class="sidepanel-tabs__nav-item" role="presentation">
        <button class="sidepanel-tabs__nav-link" id="windPastTab" data-bs-toggle="tab" data-bs-target="#windPast" type="button" role="tab" aria-controls="windPast" aria-selected="true">2018</button>
      </li>
      <li class="sidepanel-tabs__nav-item" role="presentation">
        <button class="sidepanel-tabs__nav-link active" id="windPresentTab" data-bs-toggle="tab" data-bs-target="#windPresent" type="button" role="tab" aria-controls="windPresent" aria-selected="false">2024</button>
      </li>
      <li class="sidepanel-tabs__nav-item" role="presentation">
        <button class="sidepanel-tabs__nav-link" id="windFutureTab" data-bs-toggle="tab" data-bs-target="#windFuture" type="button" role="tab" aria-controls="windFuture" aria-selected="false">2027+</button>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="windTabContent">
    <div class="tab-pane fade" id="windPast" role="tabpanel" aria-labelledby="windPastTab">
      <div class="sidepanel__text">
        <p>{%  trans "Flächen nach dem Regionalplan 2018" %}</p>
      </div>
      <div class="sidepanel__block">
          <div class="sidepanel__key-number">
            <div class="sidepanel__key-number-value sidepanel__key-number-value--wind">
              <div style="background-color: #6A89CC; height: 25px; width: 25px;"></div>
            </div>
            <div class="sidepanel__key-number-description">
              <span>
                {%  trans "Vorranggebiete Windenergie 2018" %}
              </span>
            </div>
          </div>
      </div>
      <div class="sidepanel__block" id="wind_key_results_2018">
        {% partial wind_key_results %}
      </div>
      <div class="sidepanel__block">
        <div class="sidepanel__more">
          <div>
            <button class="sidepanel__more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWindPastMore" aria-expanded="false" aria-controls="collapseWindPastMore">
              <svg width="12" height="12" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.936" xmlns="http://www.w3.org/2000/svg">
                <path d="m6.1387 0.1875-1.4961 1.4961 6.7832 6.7832-6.7832 6.7832 1.4961 1.4961 8.2793-8.2793z"/>
              </svg>
              {%  trans "Mehr Informationen" %}
            </button>
          </div>
          <div class="collapse sidepanel__more-collapse" id="collapseWindPastMore">
            <div>
              {%  trans "Hier kommen mehr Details (2018)." %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="windPresent" role="tabpanel" aria-labelledby="windPresentTab">
      <div class="sidepanel__text">
        <p>{%  trans "Flächen nach dem Regionalplan 2024" %}</p>
      </div>
      <div class="sidepanel__block">
          <div class="sidepanel__key-number">
            <div class="sidepanel__key-number-value sidepanel__key-number-value--wind">
              <div style="background-color: #6A89CC; height: 25px; width: 25px;"></div>
            </div>
            <div class="sidepanel__key-number-description">
              <span>
                {%  trans "Vorranggebiete Windenergie 2024" %}
              </span>
            </div>
          </div>
      </div>
      <div class="sidepanel__sliders">
        <div class="sidepanel__slider sidepanel__slider--wind">
          <span>
            {% include "widgets/slider.html" with field=form.s_w_6 %}
          </span>
        </div>
      </div>
      <div class="sidepanel__block" id="wind_key_results_2024">
        {% partial wind_key_results %}
      </div>
      <div class="sidepanel__block">
        <div class="sidepanel__more">
          <div>
            <button class="sidepanel__more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWindPresentMore" aria-expanded="false" aria-controls="collapseWindPresentMore">
              <svg width="12" height="12" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.936" xmlns="http://www.w3.org/2000/svg">
                <path d="m6.1387 0.1875-1.4961 1.4961 6.7832 6.7832-6.7832 6.7832 1.4961 1.4961 8.2793-8.2793z"/>
              </svg>
              {%  trans "Mehr Informationen" %}
            </button>
          </div>
          <div class="collapse sidepanel__more-collapse" id="collapseWindPresentMore">
            <div>
              {%  trans "Hier kommen mehr Details (2024)." %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="windFuture" role="tabpanel" aria-labelledby="windFutureTab">
      <div class="sidepanel__text">
        <p>{%  trans "Flächen nach dem Regionalplan 2024 und darüber hinaus" %}</p>
      </div>
      <div class="sidepanel__block">
          <div class="sidepanel__key-number">
            <div class="sidepanel__key-number-value sidepanel__key-number-value--wind">
              <div style="background-color: #6A89CC; height: 25px; width: 25px;"></div>
            </div>
            <div class="sidepanel__key-number-description">
              <span>
                {%  trans "Vorranggebiete Windenergie 2024" %}
              </span>
            </div>
          </div>
          <div class="sidepanel__key-number">
            <div class="sidepanel__key-number-value sidepanel__key-number-value--wind">
              <span>
                <img src="{% static 'images/map_wind_hatch.svg' %}" width="25" height="25" alt="Windenergie">
              </span>
            </div>
            <div class="sidepanel__key-number-description">
              <span>
                {%  trans "Suchraum für Windflächen nach 2027" %}
              </span>
            </div>
          </div>
      </div>
      <div class="sidepanel__sliders">
        <div class="sidepanel__slider sidepanel__slider--wind">
          <span>
            {% include "widgets/slider.html" with field=form.s_w_7 %}
          </span>
        </div>
      </div>
      <div class="sidepanel__block" id="wind_key_results_2027">
        {% partial wind_key_results %}
      </div>
      <div class="sidepanel__block">
        <div class="sidepanel__more">
          <div>
            <button class="sidepanel__more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWindFutureMore" aria-expanded="false" aria-controls="collapseWindFutureMore">
              <svg width="12" height="12" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.936" xmlns="http://www.w3.org/2000/svg">
                <path d="m6.1387 0.1875-1.4961 1.4961 6.7832 6.7832-6.7832 6.7832 1.4961 1.4961 8.2793-8.2793z"/>
              </svg>
              {%  trans "Mehr Informationen" %}
            </button>
          </div>
          <div class="collapse sidepanel__more-collapse" id="collapseWindFutureMore">
            <div>
              {%  trans "Hier kommen mehr Details (2027)." %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--   <div class="sidepanel__block">
    <span class="sidepanel__block--wind-light">
      {% include "widgets/slider.html" with field=form.s_w_3 %}
    </span>
  </div>
  <div class="sidepanel__block">
    <span class="sidepanel__block--wind-light">
      {% include "widgets/slider.html" with field=form.s_w_4 %}
    </span>
    <span class="sidepanel__block--wind-light">
      {% include "widgets/slider.html" with field=form.s_w_4_1 %}
    </span>
    <span class="sidepanel__block--wind-dark">
      {% include "widgets/slider.html" with field=form.s_w_4_2 %}
    </span>
  </div>
{#  <div class="sidepanel__block">#}
{#    <span class="sidepanel__block--wind-light">#}
{#      {% include "widgets/slider.html" with field=form.s_w_5 %}#}
{#    </span>#}
{#    <span class="sidepanel__block--wind-light">#}
{#      {% include "widgets/slider.html" with field=form.s_w_5_1 %}#}
{#    </span>#}
{#    <span class="sidepanel__block--wind-dark">#}
{#      {% include "widgets/slider.html" with field=form.s_w_5_2 %}#}
{#    </span>#}
{#  </div>#}-->
</div>

{% include "widgets/slider.html" with field=form.s_pv_ff_1 %}
<div class="sidepanel sidepanel--pv-outdoor">
  <div class="sidepanel__heading">
    <div class="sidepanel__title">
      <div class="sidepanel__title-icon sidepanel__title-icon--pv">
        <svg width="16" height="16" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.936" xmlns="http://www.w3.org/2000/svg">
          <path d="m4.3692 1.0589-3.4923 11.64h0.71107 2.6443v3.176h1.0589v-3.176h6.3516v3.176h1.0563v-3.176h3.3574l-3.4918-11.64h-8.1954zm0.78703 1.0583h2.7812v2.1151h-3.4163l0.6351-2.1151zm3.8401 0h2.7812l0.6351 2.1151h-3.4163v-2.1151zm-4.793 3.174h3.7341v2.1172h-4.3692l0.6351-2.1172zm4.793 0h3.7341l0.6351 2.1172h-4.3692v-2.1172zm-5.7459 3.1755h4.6871v3.176h-5.6405l0.95343-3.176zm5.7459 0h4.6871l0.95343 3.176h-5.6405v-3.176z" color="#000000" fill-rule="evenodd" stroke-dashoffset="5.2899"/>
        </svg>
      </div>
      <div class="sidepanel__title-text">
        {%  trans "Details" %}
      </div>
    </div>
    {% include "widgets/sidepanel_close_btn.html" %}
  </div>
  <p class="sidepanel__indication">
    {%  trans "Nutzung von PV-Potenzialgebieten:" %}
  </p>
  <div class="sidepanel__sliders">
    <div class="sidepanel__slider sidepanel__slider--pv-low">
      <span>
        {% include "widgets/slider.html" with field=form.s_pv_ff_3 %}
      </span>
    </div>
    <div class="sidepanel__slider sidepanel__slider--pv-medium">
      <span>
        {% include "widgets/slider.html" with field=form.s_pv_ff_4 %}
      </span>
    </div>
    <div class="sidepanel__slider sidepanel__slider--pv-high">
      <span>
        {% include "widgets/slider.html" with field=form.s_pv_ff_5 %}
      </span>
    </div>
  </div>
  <div class="sidepanel__block" id="pv_ground_key_results">
    {% partial pv_key_results %}
  </div>
  <div class="sidepanel__block">
    <div class="sidepanel__more">
      <div>
        <button class="sidepanel__more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePVgroundPastMore" aria-expanded="false" aria-controls="collapsePVgroundPastMore">
          <svg width="12" height="12" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.936" xmlns="http://www.w3.org/2000/svg">
            <path d="m6.1387 0.1875-1.4961 1.4961 6.7832 6.7832-6.7832 6.7832 1.4961 1.4961 8.2793-8.2793z"/>
          </svg>
          {%  trans "Mehr Informationen" %}
        </button>
      </div>
      <div class="collapse sidepanel__more-collapse" id="collapsePVgroundPastMore">
        <div>
          {%  trans "Hier kommen mehr Details." %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include "widgets/slider.html" with field=form.s_pv_d_1 %}
<div class="sidepanel sidepanel--pv-roof">
  <div class="sidepanel__heading">
    {%  trans "Detail settings" %}
    {% include "widgets/sidepanel_close_btn.html" %}
  </div>
  <p class="sidepanel__indication">
    {%  trans "Stelle ein, wieviel Dachfläche für Photovoltaik genutzt werden soll:" %}
  </p>
  <div class="sidepanel__sliders">
    <div class="sidepanel__slider sidepanel__slider--pv-light">
      <span>
        {% include "widgets/slider.html" with field=form.s_pv_d_3 %}
      </span>
    </div>
    <div class="sidepanel__slider sidepanel__slider--pv-light">
      <span>
        {% include "widgets/slider.html" with field=form.s_pv_d_4 %}
      </span>
    </div>
  </div>
  <div class="sidepanel__block" id="pv_roof_key_results">
    {% partial pv_key_results %}
  </div>
  <div class="sidepanel__block">
    <div class="sidepanel__more">
      <div>
        <button class="sidepanel__more-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePVroofPastMore" aria-expanded="false" aria-controls="collapsePVroofPastMore">
          <svg width="12" height="12" version="1.1" fill="currentColor" viewBox="0 0 16.933 16.936" xmlns="http://www.w3.org/2000/svg">
            <path d="m6.1387 0.1875-1.4961 1.4961 6.7832 6.7832-6.7832 6.7832 1.4961 1.4961 8.2793-8.2793z"/>
          </svg>
          {%  trans "Mehr Informationen" %}
        </button>
      </div>
      <div class="collapse sidepanel__more-collapse" id="collapsePVroofPastMore">
        <div>
          {%  trans "Hier kommen mehr Details." %}
        </div>
      </div>
    </div>
  </div>
</div>

{% include "widgets/slider.html" with field=form.s_h_1 %}

<span class="panel__separator" aria-hidden="true"></span>

<h2 class="panel__title title">{%  trans "Consumption" %}</h2>
{% include "widgets/slider.html" with field=form.s_v_1 %}
<div class="sidepanel">
  <div class="sidepanel__heading">
    {%  trans "Detail settings" %}
    {% include "widgets/sidepanel_close_btn.html" %}
  </div>
  <p class="sidepanel__indication">
    {%  trans "Stelle den zukünftigen Stromverbrauch je Sektor ein:" %}
  </p>
  <div class="sidepanel__block sidepanel__block--slider">
    <span>
      {% include "widgets/slider.html" with field=form.s_v_3 %}
    </span>
  </div>
  <div class="sidepanel__block sidepanel__block--slider">
    <span>
      {% include "widgets/slider.html" with field=form.s_v_4 %}
    </span>
  </div>
  <div class="sidepanel__block sidepanel__block--slider">
    <span>
      {% include "widgets/slider.html" with field=form.s_v_5 %}
    </span>
  </div>
  <div class="sidepanel__results">
    <p>{%  trans "Links siehst Du die Änderung über alle Sektoren für deine Einstellung (gewichtetes Mittel)." %}</p>
  </div>
</div>

<span class="panel__separator" aria-hidden="true"></span>

<h2 class="panel__title title">{%  trans "Batteries" %}</h2>
{% include "widgets/slider.html" with field=form.s_s_g_1 %}
