{% load static %}

<section class="offcanvas-view offcanvas" tabindex="-1" id="offcanvasDocumentation" data-bs-backdrop="false" aria-labelledby="offcanvasDocumentationLabel">
  <div class="offcanvas-view__wrap">
    <p style="text-align: right; color: #666666">App-Version {{ app_version }}</p>
    <h2 class="offcanvas-view__title" id="offcanvasDocumentationLabel">Dokumentation</h2>
    <div class="offcanvas-view__body">
      <p>EmPowerPlan ist ein Stakeholder-Empowerment-Tool für die Region Oderland-Spree (OLS) und wurde vom Reiner Lemoine Institut (RLI) entwickelt.</p>
      <!--<p>Methodische und technische Hintergrundinformationen und Anleitungen finden Sie in unserer Dokumentation auf <a href="https://epp.readthedocs.io" target="_blank">ReadTheDocs</a>.</p>-->
      <p>Der Quellcode der App <a href="https://github.com/empowerplan/epp_app/" target="_blank">EmPowerPlan</a> ist frei verfügbar. Die benötigten Daten wurden mit der Daten-Pipeline <a href="https://github.com/empowerplan/epp-pipe/" target="_blank">epp-pipe</a> erzeugt, die ebenfalls den Prinzipien von Open Source & Open Data folgt.</p>
      <p>Dieses Tool und mehr Informationen zu unseren anderen Tools, Karten und Apps zur Energiewende finden Sie auf dem <a href="https://wam.rl-institut.de" target="_blank">WAM-Portal des RLI</a>.</p>
      <h3 class="offcanvas-view__subtitle">Über dieses Tool</h3>
      <p>Text...</p>
      <h3 class="offcanvas-view__subtitle">Partner</h3>
      <div class="offcanvas-view__logos">
        <div class="offcanvas-view__logo offcanvas-view__logo--rli">
          <a href="https://reiner-lemoine-institut.de/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/logos/RLI_logo_weiss.png' %}" alt="Logo des Reiner Lemoine Instituts">
          </a>
        </div>
        <div class="offcanvas-view__logo offcanvas-view__logo--izt">
          <a href="https://www.izt.de/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/logos/izt-logo.svg' %}" alt="Logo IZT" title="Institut für Zukunftsstudien und Technologiebewertung">
          </a>
        </div>
        <div class="offcanvas-view__logo offcanvas-view__logo--rg">
          <a href="https://www.oeko.de/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/logos/ÖI_logo.png' %}" alt="Logo ÖI" title="Öko-Institut">
          </a>
        </div>
      </div>
      <div class="offcanvas-view__logos">
        <div class="offcanvas-view__logo offcanvas-view__logo--teamewen">
          <a href="https://www.team-ewen.de/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/logos/team_ewen_logo.png' %}" alt="Logo team ewen" title="team ewen">
          </a>
        </div>
        <div class="offcanvas-view__logo offcanvas-view__logo--rpg">
          <a href="https://www.rpg-oderland-spree.de/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/logos/rpg_ols_logo.svg' %}" alt="Logo RPG OLD" title="Regionale Planungsgemeinschaft Oderland-Spree">
          </a>
        </div>
        <div class="offcanvas-view__logo offcanvas-view__logo--bmwk">
          <a href="https://www.bmwk.de/" target="_blank" rel="noopener noreferrer">
            <img src="{% static 'images/logos/BMWK_Fz_2017_Office_Farbe_de.png' %}" alt="Logo Bundesministerium für Wirtschaft und Klimaschutz" title="Bundesministerium für Wirtschaft und Klimaschutz">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
