{% load static i18n %}

{%  include "components/onboarding.html" %}

<section class="map-wrap">
  <div class="main-content" id="challenges">
    <h2>Energiewende in Oderland-Spree</h2>
    <div class="carousel">
      <div class="carousel__item">
        <div class="carousel__image">
          <img width="320" height="509" src="{% static 'images/oderland_map.png' %}" alt="Karte von Oderland-Spree">
        </div>
        <div class="carousel__text">
          <p>Deutschland soll bis <b>2045</b> klimaneutral werden. Um dieses Ziel zu erreichen muss der Ausbau der Erneuerbaren Energien massiv beschleunigt werden. Bereits bis <b>2030</b> ist das Ziel, mindestens <b>80 Prozent des Stromverbrauchs aus Erneuerbaren Energien</b> – vor allem aus Wind- und Solarenergie zu decken.</p>
          <p>Den Sektorzielen des Klimaschutzgesetzes folgend hat auch Brandenburg Strategien der Klima- und Energiepolitik erarbeitet und im Rahmen der <b>Energiestrategie 2040</b> entsprechende Leitplanken veröffentlicht.</p>
          <p>Auch die Region <b>Oderland-Spree</b> steht vor der großen Aufgabe, diese Ziele zu verfolgen und entsprechende Strategien der Energieeinsparung und -erzeugung auf den Weg zu bringen. Diese Strategien sind die Leitplanken für die strategische Ausrichtung der energiebezogenen Aufgaben der Regionalen Planungsgemeinschaft Oderland-Spree (RPG).</p>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; padding-top: 1rem;">
      <img width="103" height="53" src="{% static 'images/arrows-placeholder.png' %}" alt="">
    </div>
  </div>
  <div class="main-content" id="scenarios" hidden>
    <div style="display: flex; flex-direction: row; justify-content: center;">
      <div id="selectedScenario1" class="scenarios">
        <div class="scenarios__top">
          <div class="scenarios__top--left">
            <span class="scenarios__name">Aktuelles Szenario</span>
            <button class="scenarios__btn scenarios__btn--active">Übernehmen</button>
          </div>
          <div class="scenarios__top--right">
            <span class="scenarios__goal">Vorgaben nach WindBG/EEG geschafft</span>
          </div>
        </div>
        <div class="row">
          <div class="scenarios__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <div class="row gx-5">
          <div class="scenario-feature">
            <div class="scenario-feature__header">
              <div class="scenario-feature__header--left">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#002E50" viewBox="0 0 16.933 16.936">
                    <path d="m8.4667 0.025321v4.2762c-0.89922 0.23858-1.5663 1.0686-1.5663 2.0423 0 0.1682 0.019787 0.33204 0.057361 0.48938l-3.3874 1.956 0.52917 0.91571 3.3548-1.9358c0.26835 0.29432 0.61807 0.51241 1.0123 0.61702v7.4889h-6.35v1.0583h6.35v5.17e-4h1.0589v-5.17e-4h6.3495v-1.0583h-6.3495v-7.4889c0.41594-0.11036 0.7822-0.34745 1.0557-0.66663l3.4422 1.9854 0.52917-0.91571-3.5037-2.0226c3.4e-5 -1.65e-4 -3.4e-5 -3.517e-4 0-5.168e-4 0.027938-0.13666 0.042891-0.27777 0.042891-0.4222 0-0.97361-0.66709-1.8037-1.5663-2.0423v-4.2762h-1.0589zm0.52968 5.2658c0.5765 2e-7 1.0366 0.46232 1.0366 1.0526s-0.46013 1.0526-1.0366 1.0526c-0.5765 0-1.0371-0.46232-1.0371-1.0526-1e-7 -0.59033 0.46065-1.0526 1.0371-1.0526z" color="#000000" fill-rule="evenodd" stroke-dashoffset="5.2899"/>
                  </svg>
                </span>
                <span class="scenario-feature__name">Wind</span>
                <span class="scenario-feature__value scenario-feature__value--dark">++</span>
              </div>
              <div class="scenario-feature__header--right">
                <a href="#" data-bs-toggle="tooltip" data-bs-title="This is a tooltip text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#002E50" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                  </svg>
                </a>
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                Gesamtleistung
              </div>
              <div class="scenario-feature__values">
                532 MW
              </div>
              <div class="scenario-feature__bars">
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                Anzahl
              </div>
              <div class="scenario-feature__values">
                345 Anlagen
              </div>
              <div class="scenario-feature__bars">
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                Anteil der deutschen Gesamtleistung
              </div>
              <div class="scenario-feature__values">
                2,12 %
              </div>
              <div class="scenario-feature__bars">
                <div class="row">
                  <div class="scenarios-bar">
                    <div class="scenarios-bar__total">
                      <span>10 %</span>
                    </div>
                    <div class="scenarios-bar__chart">
                      <div class="scenarios-bar__bg"></div>
                      <div id="statusQuoWindTotal" style="width: 21%" class="scenarios-bar__value scenarios-bar__value--wind"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                Anteil der deutschen Stromproduktion
              </div>
              <div class="scenario-feature__values">
                0,23 %
              </div>
              <div class="scenario-feature__bars">
                <div class="row">
                  <div class="scenarios-bar">
                    <div class="scenarios-bar__total">
                      <span>10 %</span>
                    </div>
                    <div class="scenarios-bar__chart">
                      <div class="scenarios-bar__bg"></div>
                      <div id="statusQuoWindElectricity" style="width: 2%" class="scenarios-bar__value scenarios-bar__value--wind"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scenario-feature">
            <div class="scenario-feature__header">
              <div class="scenario-feature__header--left">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#002E50" viewBox="0 0 16.933 16.936">
                    <path d="m4.3692 1.0589-3.4923 11.64h0.71107 2.6443v3.176h1.0589v-3.176h6.3516v3.176h1.0563v-3.176h3.3574l-3.4918-11.64h-8.1954zm0.78703 1.0583h2.7812v2.1151h-3.4163l0.6351-2.1151zm3.8401 0h2.7812l0.6351 2.1151h-3.4163v-2.1151zm-4.793 3.174h3.7341v2.1172h-4.3692l0.6351-2.1172zm4.793 0h3.7341l0.6351 2.1172h-4.3692v-2.1172zm-5.7459 3.1755h4.6871v3.176h-5.6405l0.95343-3.176zm5.7459 0h4.6871l0.95343 3.176h-5.6405v-3.176z" color="#000000" fill-rule="evenodd" stroke-dashoffset="5.2899"/>
                  </svg>
                </span>
                <span class="scenario-feature__name">PV</span>
                <span class="scenario-feature__value scenario-feature__value--light">+</span>
              </div>
              <div class="scenario-feature__header--right">
                <a href="#" data-bs-toggle="tooltip" data-bs-title="This is a tooltip text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#002E50" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                  </svg>
                </a>
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                Gesamtleistung
              </div>
              <div class="scenario-feature__values">
                123 MW
              </div>
              <div class="scenario-feature__bars">
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                Anzahl
              </div>
              <div class="scenario-feature__values">
                24 Anlagen
              </div>
              <div class="scenario-feature__bars">
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                Anteil der deutschen Gesamtleistung
              </div>
              <div class="scenario-feature__values">
                1,92 %
              </div>
              <div class="scenario-feature__bars">
                <div class="row">
                  <div class="scenarios-bar">
                    <div class="scenarios-bar__total">
                      <span>10 %</span>
                    </div>
                    <div class="scenarios-bar__chart">
                      <div class="scenarios-bar__bg"></div>
                      <div id="statusQuoWindTotal" style="width: 20%" class="scenarios-bar__value scenarios-bar__value--pv"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                Anteil der deutschen Stromproduktion
              </div>
              <div class="scenario-feature__values">
                0,05 %
              </div>
              <div class="scenario-feature__bars">
                <div class="row">
                  <div class="scenarios-bar">
                    <div class="scenarios-bar__total">
                      <span>10 %</span>
                    </div>
                    <div class="scenarios-bar__chart">
                      <div class="scenarios-bar__bg"></div>
                      <div id="statusQuoWindElectricity" style="width: 0%" class="scenarios-bar__value scenarios-bar__value--pv"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="scenario-feature">
            <div class="scenario-feature__header">
              <div class="scenario-feature__header--left">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#002E50" class="bi bi-map" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.5.5 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103M10 1.91l-4-.8v12.98l4 .8zm1 12.98 4-.8V1.11l-4 .8zm-6-.8V1.11l-4 .8v12.98z"/>
                  </svg>
                </span>
                <span class="scenario-feature__name">Flächenbedarf</span>
                <span class="scenario-feature__value scenario-feature__value--light">+</span>
              </div>
              <div class="scenario-feature__header--right">
                <a href="#" data-bs-toggle="tooltip" data-bs-title="This is a tooltip text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#002E50" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                  </svg>
                </a>
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                XXXXXXXXX
              </div>
              <div class="scenario-feature__values">
                0000
              </div>
              <div class="scenario-feature__bars">
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                XXXXXXXXX
              </div>
              <div class="scenario-feature__values">
                0000
              </div>
              <div class="scenario-feature__bars">
              </div>
            </div>
          </div>
          <div class="scenario-feature">
            <div class="scenario-feature__header">
              <div class="scenario-feature__header--left">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#002E50" class="bi bi-lightning-charge" viewBox="0 0 16 16">
                    <path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z"/>
                  </svg>
                </span>
                <span class="scenario-feature__name">Energieeinsparung</span>
                <span class="scenario-feature__value scenario-feature__value--light">+</span>
              </div>
              <div class="scenario-feature__header--right">
                <a href="#" data-bs-toggle="tooltip" data-bs-title="This is a tooltip text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#002E50" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                  </svg>
                </a>
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                XXXXXXXXX
              </div>
              <div class="scenario-feature__values">
                0000
              </div>
              <div class="scenario-feature__bars">
              </div>
            </div>
            <div class="scenario-feature__row">
              <div class="scenario-feature__keys">
                XXXXXXXXX
              </div>
              <div class="scenario-feature__values">
                0000
              </div>
              <div class="scenario-feature__bars">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="selectedScenario2" style="display: none;">Test 2</div>
      <div id="selectedScenario3" style="display: none;">Test 3</div>
      <div id="selectedScenario4" style="display: none;">Test 4</div>
      <div id="selectedScenario5" style="display: none;">Test 5</div>
    </div>
  </div>
  {% include 'components/toggle_view.html' %}
</section>
