{%  load static %}

<div class="modal fade modal-xl onboarding-modal" id="onboardingModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">Willkommen</p>
        <button id="close-onboarding" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false" data-bs-wrap="false">
          <div class="carousel-inner">
            <div class="carousel-item carousel-item--first active">
              <div class="row">
                <div class="col">
                  <div class="carousel-item__content">
                    <div class="carousel__text">
                      <div class="carousel__text-logo">
                        <img src="{% static 'images/logos/EmPowerPlan_logo.svg' %}" alt="Logo EmPowerPlan">
                      </div>
                      <div class="carousel__text-content">
                        <p class="title"></p>
                        <p class="content">Herzlich Willkommen im <b>EmPowerPlan-Tool!</b></p>
                        <p class="techspecs">Hinweis: Die App ist für eine Bildschirmauflösung von mind. 1920x1080 (Full HD) unter Chrome/Chromium optimiert.</p>
                      </div>
                    </div>
                    <div class="carousel__logos">
                      <div class="carousel__logo carousel__logo--rli">
                        <img src="{% static 'images/logos/RLI_logo_weiss.png' %}" alt="Logo RLI" title="Reiner Lemoine Institut">
                      </div>
                      <div class="carousel__logo carousel__logo--izt">
                        <img src="{% static 'images/logos/izt-logo.svg' %}" alt="Logo IZT" title="Institut für Zukunftsstudien und Technologiebewertung">
                      </div>
                      <div class="carousel__logo carousel__logo--oei">
                        <img src="{% static 'images/logos/ÖI_logo.png' %}" alt="Logo ÖI" title="Öko-Institut">
                      </div>
                      <div class="carousel__logo carousel__logo--teamewen">
                        <img src="{% static 'images/logos/team_ewen_logo.png' %}" alt="Logo team ewen" title="team ewen">
                      </div>
                      <div class="carousel__logo carousel__logo--rpg">
                        <img src="{% static 'images/logos/rpg_ols_logo.svg' %}" alt="Logo RPG OLD" title="Regionale Planungsgemeinschaft Oderland-Spree">
                      </div>
                      <div class="carousel__logo carousel__logo--bmwk">
                        <img src="{% static 'images/logos/BMWK_Fz_2017_Office_Farbe_de.png' %}" alt="Logo Bundesministerium für Wirtschaft und Klimaschutz" title="Bundesministerium für Wirtschaft und Klimaschutz">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Carousel -->
      </div>
    </div>
  </div>
</div>
