{% load static i18n %}

<aside class="panel" id="js-panel-container" hidden>
  <div class="panel__content">
    <div class="tab-content">
      <section class="tab-pane active" id="panel_1_challenges" role="tabpanel" aria-labelledby="step_1_challenges_label">
        {% include 'components/panel_1_challenges.html' %}
      </section>
      <section class="tab-pane" id="panel_2_today" role="tabpanel" aria-labelledby="step_2_today_label">
        {% include 'components/panel_2_today.html' %}
      </section>
      <section class="tab-pane" id="panel_3_scenarios" role="tabpanel" aria-labelledby="step_3_scenarios_label">
        {% include 'components/panel_3_scenarios.html' %}
      </section>
      <section class="tab-pane" id="panel_4_settings" role="tabpanel" aria-labelledby="step_4_settings_label">
        {% include 'components/panel_4_settings.html' %}
      </section>
      <section class="tab-pane" id="panel_5_results" role="tabpanel" aria-labelledby="step_5_results_label">
        {% include 'components/panel_5_results.html' %}
      </section>
    </div>
  </div>
</aside>
