{% load static i18n %}

<div class="panel__settings">
  <div class="panel-item">
    <div class="panel-item__padding">
      <p>Szenario auswählen</p>
    </div>
    <div class="panel-item__padding">
      <div id="panelCard1" class="panel-card panel-card--selected">
        <div class="panel-card__content">
          <div class="panel-card__name">
            <div>
              Energiestrategie Brandenburg 2030<br>(BB30)
            </div>
            <div class="scenario-star">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2348C3" class="bi bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
            </div>
          </div>
          <div class="panel-card__evaluation">
            <div class="scenario-evaluation">
              <div class="scenario-evaluation__left">
                <span class="scenario-evaluation__name">Wind</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--light"><span>+</span></span>
              </div>
              <div class="scenario-evaluation__right">
                <span class="scenario-evaluation__name">Flächenbedarf</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--light">+</span>
              </div>
            </div>
            <div class="scenario-evaluation">
              <div class="scenario-evaluation__left">
                <span class="scenario-evaluation__name">PV</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--light">+</span>
              </div>
              <div class="scenario-evaluation__right">
                <span class="scenario-evaluation__name">Energieeinsparung</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--light">+</span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-card__toggle">
          <div class="arrow-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#2348C3" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
            </svg>
          </div>
        </div>
      </div>
      <div id="panelCard2" class="panel-card">
        <div class="panel-card__content">
          <div class="panel-card__name">
            <div>
              Energiestrategie Brandenburg 2040<br>(BB40)
            </div>
            <div class="scenario-star">
            </div>
          </div>
          <div class="panel-card__evaluation">
            <div class="scenario-evaluation">
              <div class="scenario-evaluation__left">
                <span class="scenario-evaluation__name">Wind</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--dark"><span>++</span></span>
              </div>
              <div class="scenario-evaluation__right">
                <span class="scenario-evaluation__name">Flächenbedarf</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--dark">++</span>
              </div>
            </div>
            <div class="scenario-evaluation">
              <div class="scenario-evaluation__left">
                <span class="scenario-evaluation__name">PV</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--dark">++</span>
              </div>
              <div class="scenario-evaluation__right">
                <span class="scenario-evaluation__name">Energieeinsparung</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--dark">++</span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-card__toggle">
          <div class="arrow-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#2348C3" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg>
          </div>
        </div>
      </div>
{#      <div id="panelCard3" class="panel-card">#}
{#        <div class="panel-card__content">#}
{#          <div class="panel-card__name">#}
{#            <div>#}
{#              Energiestrategie Brandenburg 2040#}
{#            </div>#}
{#            <div class="scenario-star">#}
{#            </div>#}
{#          </div>#}
{#          <div class="panel-card__evaluation">#}
{#            <div class="scenario-evaluation">#}
{#              <div class="scenario-evaluation__left">#}
{#                <span class="scenario-evaluation__name">Wind</span>#}
{#                <span class="scenario-evaluation__value scenario-evaluation__value--dark"><span>++</span></span>#}
{#              </div>#}
{#              <div class="scenario-evaluation__right">#}
{#                <span class="scenario-evaluation__name">Flächenbedarf</span>#}
{#                <span class="scenario-evaluation__value scenario-evaluation__value--dark">++</span>#}
{#              </div>#}
{#            </div>#}
{#            <div class="scenario-evaluation">#}
{#              <div class="scenario-evaluation__left">#}
{#                <span class="scenario-evaluation__name">PV</span>#}
{#                <span class="scenario-evaluation__value scenario-evaluation__value--dark">++</span>#}
{#              </div>#}
{#              <div class="scenario-evaluation__right">#}
{#                <span class="scenario-evaluation__name">Energieeinsparung</span>#}
{#                <span class="scenario-evaluation__value scenario-evaluation__value--dark">--</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="panel-card__toggle">#}
{#          <div class="arrow-icon">#}
{#            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#2348C3" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">#}
{#              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>#}
{#            </svg>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
      <div id="panelCard3" class="panel-card">
        <div class="panel-card__content">
          <div class="panel-card__name">
            <div>
              Langfristszenario T45 Strom 2045<br>(DE2045)
            </div>
            <div class="scenario-star">
            </div>
          </div>
          <div class="panel-card__evaluation">
            <div class="scenario-evaluation">
              <div class="scenario-evaluation__left">
                <span class="scenario-evaluation__name">Wind</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--dark"><span>++</span></span>
              </div>
              <div class="scenario-evaluation__right">
                <span class="scenario-evaluation__name">Flächenbedarf</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--dark">++</span>
              </div>
            </div>
            <div class="scenario-evaluation">
              <div class="scenario-evaluation__left">
                <span class="scenario-evaluation__name">PV</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--dark">++</span>
              </div>
              <div class="scenario-evaluation__right">
                <span class="scenario-evaluation__name">Energieeinsparung</span>
                <span class="scenario-evaluation__value scenario-evaluation__value--dark">++</span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-card__toggle">
          <div class="arrow-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#2348C3" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
            </svg>
          </div>
        </div>
      </div>
{#      <div id="panelCard4" class="panel-card">#}
{#        <div class="panel-card__content">#}
{#          <div class="panel-card__name">#}
{#            <div>#}
{#              Pro PV#}
{#            </div>#}
{#            <div class="scenario-star">#}
{#            </div>#}
{#          </div>#}
{#          <div class="panel-card__evaluation">#}
{#            <div class="scenario-evaluation">#}
{#              <div class="scenario-evaluation__left">#}
{#                <span class="scenario-evaluation__name">Wind</span>#}
{#                <span class="scenario-evaluation__value scenario-evaluation__value--dark">++</span>#}
{#              </div>#}
{#              <div class="scenario-evaluation__right">#}
{#                <span class="scenario-evaluation__name">Flächenbedarf</span>#}
{#                <span class="scenario-evaluation__value scenario-evaluation__value--dark">++</span>#}
{#              </div>#}
{#            </div>#}
{#            <div class="scenario-evaluation">#}
{#              <div class="scenario-evaluation__left">#}
{#                <span class="scenario-evaluation__name">PV</span>#}
{#                <span class="scenario-evaluation__value scenario-evaluation__value--dark">++</span>#}
{#              </div>#}
{#              <div class="scenario-evaluation__right">#}
{#                <span class="scenario-evaluation__name">Energieeinsparung</span>#}
{#                <span class="scenario-evaluation__value scenario-evaluation__value--dark">--</span>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="panel-card__toggle">#}
{#          <div class="arrow-icon">#}
{#            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#2348C3" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">#}
{#              <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>#}
{#            </svg>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
    </div>
  </div>
</div>
