{% load i18n %}
<div class="popup popup--cluster">

  <div class="popup__header">
    <h1 id="js-popup__title" class="popup__title">{{ title }}</h1>
  </div>

  <table>
    <tr>
      <td><b>Anlagenanzahl</b></td>
      <td><b>{{ unit_count }}</b></td>
    </tr>
    {% for key, value in data.items %}
      <tr>
        <td>{{ key }}</td>
        {%  if value != None  %}
          {%  if value is True  %}
            <td>Ja</td>
          {%  elif value is False  %}
            <td>Nein</td>
          {% else %}
            <td>{{ value }}</td>
          {% endif %}
        {% else %}
          <td> - </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

  {% if description %}<div id="js-popup__description" class="popup__description">{{ description }}</div>{%  endif %}
</div>
